/* --colorPink01:'#ec4e70';
--colorPink02:'#f0caca';
--colorPink03:'#f6e0e0';
--colorViolet01:'#794dff';
--colorViolet02:'#c7baf2';
--colorViolet03:'#dfd7f7';
--colorBlue01:'#00b0f0';
--colorBlue02:'#a2d8ec';
--colorBlue03:'#c9e9f4';
--colorAmber01:'#e69500';
--colorAmber02:'#e9cfa2';
--colorAmber03:'#f2e3c9';
--colorGren01:'#2cbc9d';
--colorGren02:'#7dd0be';
--colorGren03:'#ace1d6';
--color11:'#e9f3f3' */

.fondo {
  padding: 1rem;
  padding-top: 6rem;
  background-color: #7dd0be;
  min-height: 80vh;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5rem;
  margin: 1rem;
  text-align: center;
}

.fondo>h3{
  text-align: center;
}

.formulario {
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.formulario>label {
  padding-top: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(159, 194, 1);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.formulario>input,
.formulario>textarea {
  margin: 0.5rem 0 .25rem 0;
  background-color: aliceblue;
  color: rgba(75, 67, 57, 0.9);
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  width: 300px;
  padding: 8px;
  border: 2px solid #e9cfa2;
  border-radius: 5px;
}

/* .formulario>div {
  padding: 1.5rem 0;
} */

.formulario>p {
  color: rgb(209, 82, 23);
  background-color: rgba(187, 187, 187, 0.822);
  font-weight: 600;
  width: 100%;
  padding: 2px;
  margin: .5rem;
  text-align: center;
  border-radius: 3px;
}

.contentImageAvatar {
  text-align: center;
  cursor: pointer;
}

.contentImageAvatar>p {
  padding: 0;
  margin-top: 0;
}

.imageAvatar {
  border-radius: 50%;
  margin: .5rem 0 1rem;
  width: auto;
  /* max-width: 25vw; */
  cursor: pointer;
}

.inputFile {
  display: none;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.buttonsContainer {
  margin: 1rem;
  display: flex;
  flex-flow: row nowrap;
}

.submitbutton {
  min-width: 110px;
  padding: .5rem 1.5rem;
  margin: 2.5rem 0.5rem 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 1rem;
  color: white;
  background-color: #9475f8;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

/* --colorViolet01:'#794dff';
  --colorViolet02:'#c7baf2';
  --colorViolet03:'#dfd7f7'; */

.submitbutton:hover {
  background-color: #794dff;
  color: aliceblue;
}


