/* --colorPink01:'#ec4e70'; 
--colorPink02:'#f0caca';
--colorPink03:'#f6e0e0';
--colorViolet01:'#794dff';
--colorViolet02:'#c7baf2';
--colorViolet03:'#dfd7f7';
--colorBlue01:'#00b0f0';
--colorBlue02:'#a2d8ec';
--colorBlue03:'#c9e9f4';
--colorAmber01:'#e69500';
--colorAmber02:'#e9cfa2';
--colorAmber03:'#f2e3c9';
--colorGren01:'#2cbc9d';
--colorGren02:'#7dd0be';
--colorGren03:'#ace1d6';
--color11:'#e9f3f3'
*/

.mainSer {
    padding: 6rem 1rem 4rem;
    color: #333;
    background-color: #fff;
}

.mainSer>h1 {
  font-size: 2.5rem;
}

.mainSer>P{
  font-size: 1rem;
}


.cardBody1 {
  background-color: #f2e3c9;
  border: 2px solid #e69500;
  color: #e69500;
  height: 10rem;
}

.cardBody2 {
  background-color: #dfd7f7;
  border: 2px solid #794dff;
  color: #794dff;
  height: 10rem;
}

.cardBody3 {
  background-color: #f6e0e0;
  border: 2px solid #ec4e70;
  color: #ec4e70;
  height: 10rem;
}

.cardBody4 {
  background-color: #c9e9f4;
  border: 2px solid #00b0f0;
  color: #00b0f0;
  height: 10rem;
}

.cardImgTop {
  height: 14.3rem;
  width: 12rem;
  border-radius: 10px;
}

.cardTitle {
  padding: 0.5rem;
  font-size: large;
  text-align: center;
}

.cardText {
  padding: 0.2rem;
  text-align: justify;
}

.contenedorCards {
  display: flex;
  margin-top: 0%;
  justify-content: space-evenly;
  
}

.stepsCardsContainer {
  padding: 1rem 0rem;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-evenly;
  align-items: center;

}

.card {
  margin: 1rem 1rem;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 
    3px 3px 5px #ddd4,
    3px -3px 5px #ddd4,
    -3px 3px 5px #ddd4,
    -3px -3px 5px #ddd4;
  position: relative;
  transition: all 150ms ease-in-out;
  opacity: 0.95;
}


@media(min-width:576px) {
  .mainSer {
    padding: 6rem 2rem 1rem;
  }
  .mainSer > h1{
    font-size: 3rem;
  }
}


@media(min-width:768px) {}