.header {
  background-color: #ffff00;
  padding: 2vw 4vw;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.ul {
    width: 90vw;
    height: 5vh;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .links {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  