.carrusel-container {
  display: flex;
  position: relative;
  margin: 0;
  flex-flow: row nowrap;
}


.button-style {
  font-size: 2rem;
  font-weight: 600;
  color: aliceblue;
  background-color: transparent;
  margin: 0 2rem;
  border: none;
  cursor: pointer;
  transition: color 100ms ease;
}

.button-style:hover {
  color: rgba(240, 189, 255, 0.726);
}