.lienzContainer{
  margin: .1rem .5rem;
  display: flex;
  flex-flow: row wrap;

  align-items: center;
}

.lienzContainer > p {
  margin: .5rem 0;
}

.btn{
  background-color: rgb(238, 255, 140);
  margin: .1rem .5rem;
  padding: .0rem .2rem;
  border-radius: 5px;
  border: solid 1px rgba(128, 128, 128, 0.644);
  transition: all 150ms ease-in-out;
}

.btn:hover {
  border: solid 1px rgba(128, 128, 128, 0.301);
  color: #111;
  padding-bottom: 1px;
  background-color: rgb(238, 255, 140);
  box-shadow: 1px -1px 10px #aaa8,
    -1px 1px 10px #aaa8;
}

.modalWindow{
  height: 70vh;
  width: max-content;
}

.modalWindow1{
  height: 100%;
}